<div class="media">
  <figure class="media-left">
    <%= image_tag 'markdown_logo.png', class: 'image is-64x64' %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= t('markdown.admin.title') %></strong>
    </div>
    <div>
      <%= link_to({ controller: 'markdown/admin/gits' }, class: 'tag') do %>
        <span><%= t('markdown.admin.gits.index.title') %></span>
      <% end %>
    </div>
  </div>
</div>
