<%= render layout: 'layouts/phone_head' do %>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= render 'top_bar' %>
        <div class="box is-padding-less mx-3 mb-3">
          <%= yield %>
        </div>
      </div>
      <%= render 'tab_bar' %>
    </div>
  </body>
<% end %>
