<section class="hero is-medium">
  <div class="hero-body container">
    <h3 class="title has-text-centered">
      <i class="fa-solid fa-person-circle-question has-text-danger-dark"></i>
      <span>我们能做什么</span>
    </h3>
    <div class="cards">
      <%= render 'do_cards' %>
    </div>
  </div>
</section>
