<div class="card has-fade-start">
  <div class="card-content">
    <%= item[:header].html_safe if item[:header] %>
    <%= item[:items].join.html_safe %>
  </div>
  <% if item[:link] %>
  <div class="card-footer is-justify-content-center">
    <%= item[:link].join.html_safe %>
  </div>
  <% end %>
</div>
