<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'gits' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.gits.index.title') %></span>
    <% end %>
  </div>
</div>