<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('markdown.posts.index.title'), { controller: 'posts' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
