<div class="column is-narrow has-background-light is-fullheight" style="width: 260px;">
  <div class="menu">
    <span class="menu-label"><%= @post.catalog.name %></span>
    <div class="menu-list">
    <% @post.catalog.posts.each do |post| %>
      <%= link_to post.title, { action: 'show', path: post.path }, class: post.id == @post.id ? 'is-active' : '' %>
    <% end %>
    </div>
  </div>
</div>
