<% @post.catalog.ancestors.each do |catalog| %>
  <% if catalog.path.present? %>
    <li><%= link_to catalog.name, { action: 'show', base_name: catalog.git.base_name, slug: catalog.path } %></li>
  <% else %>
    <li><%= link_to catalog.name, { action: 'index', base_name: catalog.git.base_name } %></li>
  <% end %>
<% end %>
<% if @post.catalog_path.present? && !@post.home? %>
  <li><%= link_to @post.catalog.name, { action: 'show', slug: @post.catalog_path } %></li>
<% end %>
<li class="is-active"><%= @post.title %></li>
