<div class="breadcrumb has-succeeds-separator">
  <ul>
  <% if @catalog %>
    <% @catalog.ancestors.each do |catalog| %>
      <li><%= link_to catalog.name, { action: 'index', catalog_path: catalog.path } %></li>
    <% end %>
    <li class="is-active"><%= @catalog.name %></li>
  <% else %>
    <li><%= link_to t('markdown.posts.index.title'), { action: 'index' } %></li>
  <% end %>
  </ul>
</div>
