<span class="menu-label"></span>
<div class="menu-list">
<% @catalogs.each do |catalog| %>
  <%= link_to catalog.name, { action: 'show', slug: catalog.path }, class: active_params(slug: catalog.path, active: 'is-active') %>
<% end %>
</div>
