<div class="column is-narrow has-background-light is-radius" style="width: 260px;">
  <div class="menu">
  <% if @post %>
    <%= render 'post_nav' %>
  <% else %>
    <%= render 'catalog_nav' %>
  <% end %>
  </div>
</div>
