<div class="column is-narrow has-background-light is-radius" style="width: 260px;">
  <div class="menu">
    <span class="menu-label"></span>
    <div class="menu-list">
    <% @catalogs.each do |catalog| %>
      <%= link_to catalog.name, { action: 'index', catalog_path: catalog.path }, class: active_params(catalog_path: catalog.path, active: 'is-active') %>
    <% end %>
    </div>
  </div>
</div>
