<% @post.catalog.ancestors.each do |catalog| %>
  <li><%= link_to catalog.name, { action: 'show', slug: catalog.path } %></li>
<% end %>
<% if @post.catalog_path.present? %>
  <li><%= link_to @post.catalog.name, { action: 'show', slug: @post.catalog_path } %></li>
<% end %>
<li class="is-active"><%= @post.title %></li>
