<p class="is-flex is-justify-content-end has-text-grey">
  <span>
    <span><%= Markdown::Post.human_attribute_name(:created_at) %>：</span><time data-controller="time"><%= post.created_at.to_fs(:iso8601) %></time>
  </span>
  <% if post.updated_at > post.created_at %>
  <span class="pl-5">
    <span><%= Markdown::Post.human_attribute_name(:last_commit_at) %>：</span><time data-controller="time"><%= post.last_commit_at.to_fs(:iso8601) %></time>
  </span>
  <% end %>
</p>
