<td>
  <%= link_to model.title, { action: 'show', path: model.path } %>
  <%= link_to model.title, { action: 'ppt', id: model.id } %>
</td>
<td>
  <span data-show-target="item" style="visibility: hidden"></span>
</td>
