<td>
<% if model.ppt %>
  <%= link_to model.title, { action: 'ppt', id: model.id } %>
<% else %>
  <%= link_to model.title, { action: 'show', path: model.path } %>
<% end %>
</td>
<td><time data-controller="time"><%= model.updated_at.to_s(:rfc822) %></time></td>
<td>
  <span data-show-target="item" style="visibility: hidden"></span>
</td>
