div.marpit {
  position: relative;

  & > section.invert {
    width: 100%;
    max-width: 1056px;
  }
  & > section.invert::after {
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  }
}
