<div data-controller="marp" data-marp-url-value="<%= url_for(action: 'content') %>" data-action="keydown@document->marp#keyboard" class="wrapper">
  <div class="left-pointer">
    <label for="slide1" data-action="click->marp#prev"></label>
  </div>
  <div class="marpit main-block" data-marp-target="container"></div>
  <div class="right-pointer">
    <label for="slide1" data-action="click->marp#next"></label>
  </div>
</div>
