<div class="menu ex-accordion">
  <%= link_to({ controller: 'markdown/panel/home' }, text: true, class: 'menu-label') do %>
    <div>
      <i class="fa-brands fa-fw fa-markdown"></i>
      <span><%= t('markdown.panel.title') %></span>
    </div>
  <% end %>
</div>
