<div class="menu-list">
  <%= link_to({ controller: 'markdown/panel/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <i class="fa-brands fa-fw fa-markdown"></i>
    <strong><%= t('markdown.panel.title') %></strong>
  <% end %>
</div>
