<div data-controller="menu" class="<%= active_helper(modules: 'markdown/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-brands fa-fw fa-markdown"></i>
    <span><%= t('markdown.panel.title') %></span>
    <i class="fa-solid fa-fw dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('markdown.panel.gits.index.title'), { controller: 'markdown/panel/gits' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['gits', 'posts', 'catalogs'], active: 'is-active') %>
  </div>
</div>
