<div class="menu ex-accordion">
  <div class="menu-label">
    <div>
      <i class="fa-brands fa-fw fa-markdown"></i>
      <span><%= t('markdown.panel.title') %></span>
    </div>
  </div>
  <div class="menu-list">
    <%= link_to t('markdown.panel.gits.index.title'), { controller: 'markdown/panel/gits' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['gits', 'posts', 'catalogs'], active: 'is-active') %>
  </div>
</div>
