<th></th>
<th style="width: 40%">
  <p><%= Markdown::Post.human_attribute_name(:name) %></p>
  <p><%= Markdown::Post.human_attribute_name(:path) %></p>
</th>
<th><%= Markdown::Post.human_attribute_name(:sha) %></th>
