<th><%= Markdown::Catalog.human_attribute_name(:name) %></th>
<th>
  <p><%= Markdown::Catalog.human_attribute_name(:path) %></p>
  <p class="text-success"><%= Markdown::Catalog.human_attribute_name(:home_path) %></p>
</th>
<th><%= Markdown::Catalog.human_attribute_name(:nav) %></th>
