<div>
  <dt><%= Markdown::Catalog.human_attribute_name(:name) %></dt>
  <dd><%= @catalog.name %></dd>
</div>
<div>
  <dt><%= Markdown::Catalog.human_attribute_name(:path) %></dt>
  <dd><%= @catalog.path %></dd>
</div>
