<tr>
  <td><%= Markdown::Catalog.human_attribute_name(:name) %></td>
  <td><%= @catalog.name %></td>
</tr>
<tr>
  <td><%= Markdown::Catalog.human_attribute_name(:path) %></td>
  <td><%= @catalog.path %></td>
</tr>
